$btn-border-radius: 0;

$btn-yellow-background: $sponge_yellow;
$btn-yellow-background-hover: darken($sponge_yellow, 3);
$btn-yellow-border: darken($sponge_yellow, 7);
$btn-yellow-color: $sponge_yellow_text;

$btn-dark-background: $sponge_grey_dark;
$btn-dark-background-hover: darken($sponge_grey_dark, 1);
$btn-dark-border: $sponge_grey_light;
$btn-dark-color: #ffffff;

.btn {
  border-radius: $btn-border-radius;
  border: 1px solid;
  font-weight: 600;

  &:hover, &:focus {
    box-shadow: none;
  }
}

@mixin button-variant($variant, $background, $background-hover, $border-color, $color) {
  .btn-#{$variant} {
    background: $background;
    border-color: $border-color;
    color: $color;

    &:hover, &:focus {
      background: $background-hover;
      color: $color;
    }
  }
}

@include button-variant("sponge-yellow", $btn-yellow-background, $btn-yellow-background-hover, $btn-yellow-border, $btn-yellow-color);
@include button-variant("sponge-dark", $btn-dark-background, $btn-dark-background-hover, $btn-dark-border, $btn-dark-color);
