$card-border-radius: 0;
$card-font-color: #fffffff;
$card-background-color: $sponge_grey;

.card {
  border-radius: $card-border-radius;

  .card-header, .card-footer {
    background: $card-background-color;
    color: $card-font-color;

    &:first-child, &:last-child {
      border-radius: $card-border-radius;
    }
  }
}
